.eventCard {
  background-color: #28a769;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justift-items: center;
  line-height: 18px;
}

.button {
  border: none;
  height: 20px;
  cursor: pointer;
  width: 80px;
  height: 24px;
  color: #000;
  background: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 8px 0;
  margin-left: 4px;
  margin-right: 4px;
}

.button:hover {
  filter: drop-shadow(4px 4px 6px gray);
}
